 #skip{
     color: orangered;
 }
 body{
    font-family: 'Poppins', sans-serif;
 }
 .grey-color{
     color: grey;
     padding-top: 5%;
 }
 section{
     display: flex;
     margin-bottom: 70px;
 }
 .half-width{
     width: 50%;
     padding-left: 5%;
 }
 .half-width img{
     width: 60%;
 }
 .link-button{
     text-decoration: none;
     background-image: linear-gradient(tomato, orange);
     padding: 4px 9px;
     border-radius: 15px;
     color: black;
     font-weight: 600;
 }
 .middle{
     background-image: url(images/7.png);
     background-repeat: no-repeat;
     padding-right: 10%;
    
 }
 
 .recipi{
     position: relative;
     left: 43.6rem; 
     color: orangered;   
 }
 #recipi-allign
 {
     position: relative;
     left: 8.4rem;
     color: black;
     
 }
 #recipies-details
 {
     position: relative;
     top: 3rem;
     text-align: justify;
     width: 40.5rem;
     font-weight: 100;
     left: 18rem;
 }
 .column
 {
     float: left;
     width: 25%;
     padding: 0 12px;
     
 }
 #picture{
     width: 18rem;
     height: 15rem;
     position: relative;
     left: 1.3rem;
     top: 1rem;
     border-radius: 15px;
 }
#card-one
{
    width: 20.5rem;
    background-color:white;
    position: relative;
    left: -4rem;
    border-radius: 20px;
    box-shadow: 0 6px 9px 0 grey;
    height:30rem ;

}
#card-two
{
    width: 20.5rem;
    background-color:white;
    position: relative;
    left: -2rem;
    border-radius: 20px;
    box-shadow: 0 6px 9px 0 grey;
    height:30rem ;

}
#card-three
{
    width: 20.5rem;
    background-color:white;
    position: relative;
    left: .1rem;
    border-radius: 20px;
    box-shadow: 0 6px 9px 0 grey;
    height:30rem ;

}

#title
{
    margin-left: 1.8rem;
    margin-top: 2rem;
    font-size: 27px;
}
#card-detail
{
    margin-left: 1.8rem;
    margin-top: -1rem;
    font-size: 18px;
    width: 19rem;
    letter-spacing: .2px;
}