 span{
     color: orangered;
 }
 body{
    font-family: 'Poppins', sans-serif;
 }
 .grey-color{
     color: grey;
     padding-top: 5%;
 }
 section{
     display: flex;
     margin-bottom: 70px;
 }
 .half-width{
     width: 50%;
     padding-left: 5%;
 }
 .half-width img{
     width: 60%;
 }
 .link-button{
     text-decoration: none;
     background-image: linear-gradient(tomato, orange);
     padding: 4px 9px;
     border-radius: 15px;
     color: black;
     font-weight: 600;
 }
 .middle{
     background-image: url(images/7.png);
     background-repeat: no-repeat;
     padding-right: 10%;
    
 }